.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: aqua;
}

dialogsItems {
    padding: 10px;
}
dialogsItems .active {
   color:gold;
}

.dialog {

}

.messages {
    padding: 0px;
}

.messages .message {

}